<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Server Monitor</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-950">
    <h1 class="text-white text-center font-bold mt-4 text-4xl">Server Monitor</h1>
    <div class="flex flex-wrap justify-center m-3">
        <input id="ip" class="bg-gray-300 p-1 rounded-sm"></input>
        <button id="add" class="hover:bg-green-800 bg-green-500 p-1 rounded-sm mx-2 text-white">+ Add</button>
    </div>
    <div class="flex flex-wrap justify-between">
      <h2 class="text-white m-3 text-xl font-bold"> Current Status:</h2>
      <button id="history" class="hover:bg-gray-300 bg-white text-black rounded-sm p-1 m-3 ">View History</button>
    </div>
    <div class="bg-gray-700 m-3 rounded-md p-1">
      <%systems.forEach(system => {%>
        <div class="bg-black rounded-md m-2 py-3 px-3 text-white flex flex-wrap justify-between">
            <h3 ><%=system.url%></h3>
            <h3>Code: <%=system.statusCode%></h3>
            <h3>Latency: <%=system.latency%> ms</h3>
            <div class="w-2.5 h-2.5 rounded-full m-2 
              <%= system.status === "UP" ? "bg-green-400" : "bg-red-500" %>">
            </div>
        </div>
      <% })%>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/index.js"></script>
  </body>
</html>
